@font-face {
    font-family: 'MontserratARM';
    font-style: normal;
    src: url('../fonts/Montserratarm-Light.woff') format('woff');
    font-weight: 100;
}

@font-face {
    font-family: 'MontserratARM';
    font-style: normal;
    src: url('../fonts/Montserratarm-Thin.woff') format('woff');
    font-weight: 200;
}

@font-face {
    font-family: 'MontserratARM';
    font-style: normal;
    src: url('../fonts/Montserratarm-ExtraL.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'MontserratARM';
    font-style: normal;
    src: url('../fonts/Montserratarm-Regula.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'MontserratARM';
    font-style: normal;
    src: url('../fonts/Montserratarm-Bold.woff') format('woff');
    font-weight: 700;
}

:root {
    --gold: #a9957d;
    --silver: #bdc3c7;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    font-family: "MontserratARM", serif;
}

body {
    overflow-x: hidden;
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body:after{
    content:"";
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    background: url('../images/back.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    width: 80%;
    margin: 0 auto;
}

main {
    position: relative;
    padding: 35px 0;
    height: 100%;
}

.gold-circle {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%) rotate(-2deg);
    animation: gold-circle 2.5s infinite ease-in-out;
}

.main-text {
    position: relative;
    margin-top: 170px;
    text-align: center;
    color: var(--white);
    font-size: 45px;
    font-weight: 300;
    font-style: italic;
    z-index: 999;
}

.main-text .husband-name {
    margin-left: -50px;
}

.main-text .and-sign {
    margin-left: -20px;
}

.main-text .wife-name {
    margin-left: 100px;
}

.main-title {
        text-align: center;
    color: white;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.countdown {
    margin-top: 250px;
    text-align: center;
    color: var(--white);
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 5px;
}

.countdown h3 {
    font-weight: 400;
    margin-bottom: 25px;
}

.countdown-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*flex-wrap: wrap;*/
}

.countdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0 40px;
    font-weight: 200;
}

.countdown-splitter {
    content: "";
    width: 2px;
    max-width: 2px;
    min-width: 2px;
    height: 200px;
    background-color: var(--silver);
}

.invite-text {
    margin-top: 150px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 200;
}

.date {
    text-align: center;
    font-size: 100px;
    margin-top: 80px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.date span {
    display: block;
    margin: 0 10px;
}

.date-splitter {
    width: 3px;
    height: 120px;
    background-color: var(--silver);
}

.action-item {
    text-align: center;
    margin: 25px 0;
}

.action-item i {
    color: var(--silver);
    font-size: 150px;
}

.action-item .img {
    position: relative;
}

.action-item .small-hearts-1, .action-item .small-hearts-2 {
    width: 100px;
}

.action-item .small-hearts-1 {
    position: absolute;
    left: 20%;
    top: 40%;
    transform: translate(0, 10px) rotate(-10deg) ;
    animation: bounce-hearts 2s infinite ease-in-out;
}

.action-item .small-hearts-2 {
    position: absolute;
    right: 20%;
    top: 40%;
    transform: translate(0, 10px) rotate(10deg);
    animation: bounce-hearts 2s infinite linear;
}

.action-item img {
    width: 250px;
}

.action-item p {
    color: var(--white);
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
}

.action-item .bold {
    font-weight: 700;
}

.outlined-btn {
    display: inline-block;
    color: white;
    border: 2px solid var(--silver);
    padding: 16px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 20px;
    transition: .3s ease;
}

.outlined-btn:hover {
    border-radius: 40px;
}

.uppercase {
    text-transform: uppercase;
}

.action-item.end {
    margin-top: 100px;
}

.action-item.end img {
    width: 100px;
}

.play-music {
    margin: 0 auto;
    background: transparent;
    cursor: pointer;
    text-align: center;
    border: none;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-music img {
    width: 100%;
}

@keyframes gold-circle {
    0% {
        transform: translate(-50%, -50%) rotate(-2deg);
    }
    50% {
        transform: translate(calc(-50% - 2px), calc(-50% - 2px)) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-2deg);
    }
}

@media (max-width: 1110px) {
    .countdown-item {
        font-size: 35px;
    }

    .countdown-metric {
        font-size: 25px;
    }
}

@media (max-width: 908px) {
    .countdown-metric {
        font-size: 18px;
    }

    .countdown-splitter {
        height: 100px;
    }
}

@media (max-width: 861px) {
    .countdown-item {
        padding: 20px;
    }

    .date {
        font-size: 80px;
    }
}

@media (max-width: 650px) {
    .date {
        font-size: 70px;
    }
}

@media (max-width: 618px) {
    .countdown-metric {
        font-size: 15px;
    }

    .countdown-splitter {
        height: 100px;
    }
}

@media (max-width: 591px) {
    .date {
        font-size: 60px;
    }

    .gold-circle {
        width: 400px;
    }

    .main-text {
        font-size: 35px;
    }

    .main-title {
        font-size: 35px;
    }

    .countdown h3 {
        font-size: 35px;
    }

    .main-text .husband-name {
        margin-left: -30px;
    }

    .main-text .and-sign {
        margin-left: -20px;
    }

    .main-text .wife-name {
        margin-left: 90px;
    }

    .countdown-item {
        padding: 10px;
    }

    .countdown-splitter {
        height: 80px;
    }
}

@media (max-width: 510px) {
    .date {
        font-size: 40px;
    }

    .date-splitter {
        height: 80px;
    }
}

@media (max-width: 455px) {
    .gold-circle {
        width: 350px;
    }

    .main-title {
        font-size: 20px;
    }

    .main-text .husband-name {
        margin-left: -20px;
    }

    .main-text .and-sign {
        margin-left: 20px;
    }

    .main-text .wife-name {
        margin-left: 100px;
    }
}

@media (max-width: 420px) {
    .gold-circle {
        width: 280px;
    }

    .main-text {
        font-size: 25px;
    }

    .main-text .husband-name {
        margin-left: -10px;
    }

    .main-text .and-sign {
        margin-left: -10px;
    }

    .main-text .wife-name {
        margin-left: 90px;
    }

    .countdown h3 {
        font-size: 28px;
    }

    .action-item img {
        width: 200px;
    }
}

@media (max-width: 390px) {
    .countdown-item {
        font-size: 20px;
        padding: 0 8px;
    }

    .countdown-splitter {
        height: 50px;
    }

    .countdown-metric {
        font-size: 12px;
    }

    .date {
        font-size: 35px;
    }

    .date-splitter {
        height: 45px;
    }
}

@media (max-width: 350px) {
    .date {
        font-size: 30px;
    }

    .date-splitter {
        height: 45px;
    }
}

@keyframes bounce-hearts {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}